label {
    display: block;
    margin: 2em 0 0.5em 0;
}
button {
    display: block;
}

form {
    color: rgba(150, 150, 150, 1);
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-bottom-color: rgba(150, 150, 150, 1);
    width: 30%;
}

textarea {
    outline: 0;
    border-width: 0 0 2px;
    border-bottom-color: rgba(150, 150, 150, 1);
    width: 30%;
}

input::placeholder {
    color: rgba(200, 200, 200, 0.5);
}